* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f4f4f4;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

p {
  line-height: 1.5;
  margin: 12px 0;
}

/* Header */

header {
  text-align: center;
}

header .logo img {
  width: 200px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  display: block;
  border-bottom: 4px solid transparent;
}

header nav ul li a:hover {
  color: #fe6000;
  font-weight: bold;
  border-bottom: 4px solid #fe6000;
}

/* Hero-banner */
#hero-banner {
  background: url(https://source.unsplash.com/featured/?sky) no-repeat center
    center/cover;
  height: 75vh;
}

#hero-banner .container {
  padding-top: 100px;
}

#hero-banner .content {
  background-color: rgba(255, 132, 0, 0.8);
  padding: 20px;
  color: white;
  border-radius: 5px;
  width: 500px;
}

#hero-banner .content h2 {
  font-size: 32px;
}

#hero-banner .content a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #333;
  padding: 12px 24px;
  border-radius: 2px;
  margin-top: 24px;
  display: inline-block;
}
