body {
  background: darkslategrey;
  color: white;
  font-family: Verdana, sans-serif;
  padding: 5px;
  line-height: 3rem;
}

small {
  color: firebrick;
}

#some_meaningful_name {
  color: burlywood;
}

.my_super_class {
  color: lime;
}
