body {
  background-color: #333333;
  font-family: "Work Sans", sans-serif;
}

#hero-banner {
  color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 30px;
  color: chocolate;
}
